<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
<h1>Register</h1>

{{ form_errors(registrationForm) }}

{{ form_start(registrationForm) }}
<div class="mb-3 mt-3">
    <label for="email" class="form-label">Email: </label>
    {{ form_widget(registrationForm.email, {
        'attr':{
            'class':'form-control',
            'placeholder': 'Enter email'
        }
    }) }}
</div>
<br>
<div class="mb-3">
    <label for="password" class="form-label">Password: </label>
    {{ form_widget(registrationForm.plainPassword, {
        'attr':{
            'label': 'Password',
            'class':'form-control',
            'placeholder': 'Enter password'
        }
    }) }}
</div>
<br>
<div class="form-check mb-3">
    {{ form_widget(registrationForm.agreeTerms, {
        'attr':{
            'type': 'checkbox'
        }
    }) }}
    <label class="form-check-label">Agree Terms!</label>
</div>
<br>
<button type="submit" class="btn btn-success">Register</button>
<a href="{{ path('login') }}" class='btn btn-primary'>Back To Login</a>
{{ form_end(registrationForm) }}

</body>

</html>