{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row mt-5 justify-content-center" data=aos"fade-up">
    <div class="col-lg-10">
        <div class="form-group mt-3">
    <div class="form-group">
        <label for="category">Category</label>
        {{ form_widget(form.category,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Product Name:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Product name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Price:</label>
        {{ form_widget(form.price,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Price'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        {{ form_widget(form.description,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Description'
            }
        }) }}
    </div>

    <div class="form-group">
        <label for="due_date">Date</label>
        {{ form_widget(form.date,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="due_date">Image</label>
        {{ form_widget(form.productImage,{

        }) }}
    </div>
    <input type="submit" name="create_product" value="Create" class="btn btn-primary"/>
        </div>
    </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
